.banner {
    height: 75px;
    margin: 0px -10px 10px;
    background-color: #161b21;
    border-radius: 2px;
}

.banner H2 {
    color: white;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
    font-family: 'Times New Roman';
}

.banner Img {
    position: relative;
    float: right;
    right: 10px;
    height: 75px;
}

.mainp {
    background-color: lavender;
    border-radius: 2px;
}